<nav class="navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">AleksTheDev</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLinkActive="active" routerLink="/projects">Projects</a></li>
          <li><a routerLinkActive="active" routerLink="/blog">Blog</a></li>
          <li><a routerLinkActive="active" routerLink="/labs">Labs</a></li>
          <li><a routerLinkActive="active" routerLink="/contact">Contact Me</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </div>
</nav>
