<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedProject?.name}}</h1>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2><span>Status: </span>{{selectedProject?.status}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img *ngFor="let urls of selectedProject?.imageUrls" src="{{urls}}" alt="" class="img-responsive">
    </div>
  </div>
  <div class="col-xs-12">
    <button *ngIf="isLoggedIn()" class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button *ngIf="isLoggedIn()" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedProject?.description}}</p>
  </div>
</div>
