<div class="col-md-4 col-sm-6 portfolio-item">
  <a href="https://codepen.io/ThiagoFerreir4/full/vOaRQz/" target="_blank" class="portfolio-link" data-toggle="modal">
    <div class="portfolio-hover">
      <div class="portfolio-hover-content">
        <i class="fa fa-fire fa-3x"></i>
      </div>
    </div>
    <img src="https://40.media.tumblr.com/7512ad23b7e68304a65182988b9c804a/tumblr_nwy76xfEXi1ud7rr3o1_1280.png" class="img-responsive"
      alt="">
  </a>
  <div class="portfolio-caption">
    <h4>{{ project.name }}</h4>
    <p id="small-text" class="text-muted">{{ project.description }}</p>
  </div>
</div>
