<div class="row">
  <div class="col-xs-12">
    <form *ngIf="projectForm" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!projectForm.valid">Save</button>
          <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="status">Status</label>
            <select id="status" formControlName="status" #prjStatus class="form-control">
              <option value="active" [selected]="prjStatus === 'active'">Active</option>
              <option value="inactive" [selected]="prjStatus === 'inactive'">Inactive</option>
              <option value="critical" [selected]="prjStatus === 'critical'">Critical</option>
              <option value="complete" [selected]="prjStatus === 'complete'">Complete</option>
              <option value="info" [selected]="prjStatus === 'info'">Info</option>
              <option value="warning" [selected]="prjStatus === 'warning'">Warning</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-url">Image Url</label>
            <input type="text" id="image-url" class="form-control" formControlName="imageUrls" #imageUrls>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="img">
            <img [src]="imageUrls.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" rows="6" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
