<div class="row">
  <div class="col-xs-12">
    <div
      class="loading-bar"
      *ngIf="!projects">
      <div
        class="loading-bar-element"
        *ngIf="progress != 'finished'"></div>
    </div>
    <div class="row" *ngIf="isLoggedIn()">
      <div class="col-xs-12">
        <a class="btn btn-success" [routerLink]="['new']">New Project</a>
      </div>
    </div>
    <app-project class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
      *ngFor="let prj of projects; let i = index"
      [project]="prj"
      [projectId] = "prj._id"
      (click)="markedPrjIndex = prj._id"></app-project>
  </div>
</div>