/*:host {
  display: block;
  border-radius: 3px;
  border: #000 1px solid;
  box-shadow: 3px 3px 2px #ccc;
  margin: 20px 0;*/


/*padding: 20px;*/


/*transition: border-color 0.5s ease-out;*/


/*}*/


/*:host(.marked) {*/


/*padding: 19px;*/


/*}*/


/*:host(.inactive) {
  color: #ccc;
}

.form-control {
  display: inline-block;
  width: 50%;
}*/


/*
  NEW STYLE
*/

:host {
  display: block;
  border-radius: 3px;
  margin: 10px 0;
}

.list-group-item {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 350px;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal 16px/1 "Lucida Console", Monaco, monospace;
  color: black;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 10px;
}

.label-hover {
  position: absolute;
  left: -1px;
  top: 50px;
  z-index: 1;
}

 .label {
  font-size: 200%;
  border-radius: 0;
  -webkit-border-radius: 0;
}