<a name="home"></a>
<div class="intro-header">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>AleksThe Dev's Workshop</h1>
            <h3>Solutions Comming to Life</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a href="https://www.linkedin.com/in/aleksandrbeliun" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
              <li>
                <a href="https://github.com/organyx?tab=repositories" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="about"></a>
<div class="content-section-a">
  <div class="bg-overlay2">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Workshop</h2>
          <br>
          <p class="lead">I'm a web designer and developer based in Denmark.<br> My passion is to use technology based solutions, to help
            solve real world challenges.
            <br> Competences:
            <br> Languages and Frameworks:<br> Javascript, Angular, NodeJS, ExpressJS, Java, C#, HTML5, CSS3, jQuery, Bootstrap3.
            <br> Tools & expertise:<br> Git, Responsive Web Design, Agile Methodologies.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6 collapse navbar-collapse">
          <img class="img-circle img-responsive img-thumbnail" src="http://i.imgur.com/8AN88PC.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<a name="portfolio"></a>
<section id="portfolio" class="bg-light-gray bounds">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Portfolio.</h2>
        <h3 id="below-section" class="section-subheading text-muted">Below you'll find some of my recent work.</h3>
      </div>
    </div>
    <app-home-featured></app-home-featured>
  </div>
</section>

<a name="contact"></a>
<div class="banner">
  <div class="bg-overlay4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="connect">Check out some of my latest work in my portfolio</h2>
        </div>
        <br>

        <div class="col-lg-6">
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="https://github.com/organyx" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/aleksandrbeliun" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </div>
</div>
