<div class="container">
  <!-- CENTER TEXT -->
  <div class="row text-center">
    <h1>Hi, I'm Aleks</h1>
    <h1>I'm a Web/Mobile Designer, Developer and Animator based in Denmark.<br></h1>
    <h4>My passion is to use technology based solutions, to help solve real world challenges.</h4>
    <br>
    <!-- <button type="button" class="btn btn-primary btn-lg">Get Started</button> -->
  </div>
  <!-- LEFT TEXT -->
  <div class="row">
    <div class="text-left pull-left terminal">
      <h1>Languages and Frameworks:</h1>
      <span class="type">Angular, ExpressJS, NodeJS</span><br>
      <span class="type">Java / Android, C# / .Net</span><br>
      <span class="type">HTML5, CSS3, jQuery, Bootstrap3</span><br>
      <h1>Knowledge & Expertise:</h1>
      <span class="type">Git and Versioning</span><br>
      <span class="type">Responsive Web and Mobile Design</span><br>
      <span class="type">Agile Methodologies: Scrum, Kanban</span><br>
    </div>
    <!-- RIGHT IMAGE -->
    <div class="profile-img clearfix pull-right">
      <!-- <div class="caption-top">
        <h3>""</h3>
      </div> -->
      <img src="http://i.imgur.com/8AN88PC.jpg" class="img-responsive center-block" alt="replace the pic">
      <!-- <div class="caption-bottom">
        <h3>""</h3>
      </div> -->
    </div>
  </div>
  <br><hr>
  <!-- BOTTOM TEXT -->
  <div class="row text-center">
    <h4>I'm constantly learning and looking for ways to apply new knowledge. I speak English, Lithuanian, Russian and a bit of Danish.</h4><br>
    <h1>You can see </h1>
    <h4>You can check my work in <a [routerLink]="['projects']">Projects Section</a><br>
        You can find my blog <a [routerLink]="['blog']">Here</a><br>
        Some of my experiments in <a [routerLink]="['labs']">Lab</a> area<br>
    </h4>
    <br>
    <h4>Feel free to <a [routerLink]="['contact']">contact me.</a></h4>
  </div>
</div>
