.profile-img {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal 16px/1 "Lucida Console", Monaco, monospace;
  color: black;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 10px;
}

.profile-img>img {
  border-radius: 5px;
}

.terminal {
  position: absolute;
}

.terminal:before {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ddd;
}

#terminal-1 {
  width: 50%;
  height: 50%;
  background-color: #000;
  top: 20%;
  left: 10%;
  color: #fff;
  font: 10px "Courier new", courier, monospace;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

span.blink {
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
}

@keyframes type {
  from {
    width: 0;
  }
}

h4.type {
  overflow: hidden;
  height: 22px;
  width: 9em;
  width: 40ch;
  display: inline-block;
  animation: type 3s steps(40, end) 1 normal;
  -webkit-animation: type 3s steps(40, end) 1 normal;
  white-space: nowrap;
}

span.type {
  overflow: hidden;
  height: 30px;
  width: 9em;
  width: 40ch;
  display: inline-block;
  animation: type 3s steps(40, end) 1 normal;
  -webkit-animation: type 3s steps(40, end) 1 normal;
  white-space: nowrap;
  font-size: 1.5em;
}
