<div class="container">
  <!-- CENTER TEXT -->
  <div class="row text-center">
    <h1>I'm a web designer and developer based in Denmark.<br> </h1>
    <h4>My passion is to use technology based solutions, to help solve real world challenges.</h4>
    <br><br>
    <!-- <button type="button" class="btn btn-primary btn-lg">Get Started</button> -->
  </div>
  <!-- LEFT TEXT -->
  <div class="row">
    <div class="row text-left pull-left">
      <h1>Languages and Frameworks:</h1>
      <h4>Javascript, Angular, NodeJS, ExpressJS, Java, C#, HTML5, CSS3, jQuery, Bootstrap3</h4>
      <h1>Tools & expertise:</h1>
      <h4>Git, Responsive Web Design, Agile Methodologies</h4>
    </div>
    <!-- RIGHT IMAGE -->
    <div class="profile-img clearfix pull-right">
      <div class="caption-top">
        <h3>""</h3>
      </div>
      <img src="http://i.imgur.com/8AN88PC.jpg" class="img-responsive center-block" alt="replace the pic">
      <div class="caption-bottom">
        <h3>""</h3>
      </div>
    </div>
  </div>
  <!-- BOTTOM TEXT -->
  <div class="row text-center">
    <h1>You can see </h1>
    <h4>You can check my work in <a [routerLink]="['projects']">Projects Section</a><br>
        You can find my blog <a [routerLink]="['blog']">Here</a><br>
        Some of my experiments in <a [routerLink]="['labs']">Lab</a> area<br>
    </h4>
    <br>
    <h4>Feel free to <a [routerLink]="['contact']">contact me.</a></h4>
  </div>
</div>
