.profile-img {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 350px;
  height: 350px;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal 16px/1 "Lucida Console", Monaco, monospace;
  color: black;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 10px;
}

.profile-img > img {
  border-radius: 5px;
}